.consultation-card {
    transition: all 0.2s ease-in-out;
    border: 1px solid #dddbda;
}

.card-header {
    cursor: pointer;
}

.card-header:hover {
    background-color: #f3f2f2;
}

.detail-drawer {
    background-color: #fafaf9; /* slds-theme_shade */
}
