:host{
    display:block;
    --slds-c-card-radius-border:0.75rem;
    --slds-c-card-shadow:0 4px 20px rgba(0, 0, 0, 0.08);
}
lightning-datatable{
    border:1px solid #e5e5e5;
    border-radius:0.5rem;
    overflow:hidden;
    box-shadow:0 2px 4px rgba(0,0,0,0.02);
}
.slds-text-color_weak{
    color:#6b778c;
}